{% extends "base.html" %}

{% block content %}

        <form action="/"/>
            <label for="username">Username:</label>
            <input type="text" name="username" >{{username}}</input>
            <p style=" color: red;">{{username_error}}</p>

            <label for="password">Password:</label>
            <input type="password" name="password"><{{password}}/input>
            <p style=" color: red;">{{password_error}}</p>
      
            <label for="verify">Verify Password:</label>
            <input type="password" name="verify">{{verify}}</input>
            <p style=" color: red;">{{verify_error}}</p>

            <label for="email">Email:</label>
            <input type="text" name="email"><{{email}}/input>
            <input type="submit"/>

        </form>

{% endblock %}      